body{
    background-color: #999999;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
}

h1{
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 500%;
}

h1:before{
    content: 'Anon';
    color: white;
}

h1:after{
    content: 'Confessions';
    color: black;
}

#input{
    grid-area: inputConfession;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    margin: 5%;
    margin-left: 10%;
    padding:2%;
    width: 36%;
    height: 45vh;
    background-color: #666666;
    display: grid;
    grid-template-areas: "title catagory" "confession" "addGif button"; 
    grid-template-columns: 1fr 1fr;

}

#title{
    transform: translate3d(-7.5vw,-12vh, 0);
    height: 23%;
    width: 85%;
    grid-area: title;
}

#category{
    transform: translate3d(13.5vw,-12vh, 0);
    height: 23%;
    width: 45%;
    grid-area: catagory;
}

#confession{
    z-index: 1;
    transform: translateY(-25%);
    width: 31.8vw;
    height: 180%;
    grid-area: confession;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

#addGif{
    z-index: 1;
    transform: translate3d(-7.5vw,23vh, 0);
    grid-area: add-Gif;
    width: 130%;
    height: 20%;

}

#submitConfession{
    z-index: 1;
    height: 25%;
    grid-area: button;
    display: block;
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    transform: translateY(300%);
}

#container{
    display: grid;
    grid-template-areas: "inputConfession searchBar"; 
    grid-template-columns: 1fr 1fr;
    width: 200%;


}

#search{
    height: 10%;
    width: 37%;
    grid-area: searchBar;
    background-color: #666666;
    margin: 5%;
    padding:1%;
    display: grid;
    grid-template-areas: "search searchCatagory searchConfession"; 
    grid-template-columns: 2fr 1fr 0.5fr;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left: 13.5%;

}

#searchBar{
    grid-area: search;

}

#searchCatagory{
    grid-area: searchCatagory;

}

#searchConfession{
    grid-area: searchConfession;

}


@media screen and (max-width: 1000px){
    #search{
        grid-template-areas: "search searchCatagory searchConfession"; 
        grid-template-columns: 1fr 0.7fr 0.5fr;
        transform: translate3d(-170%, 0, 0);

    }

    #searchBar{
        grid-area: search;
        width: 95%;
    
    }



}

.screenContainer{
    position: absolute;
    height: auto;
    transform: translate3d(9.25%, 19vh, 0);
        
}


#confessionPost{
    overflow-y: scroll;
    width: 75%;
    height: 36.5vh;
    border-radius: 10px;
    grid-area: confessionPost;
    background-color: #666666;  
    margin: 3%;
    margin-bottom: 10%;
    margin-top: 10.25%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    


}

#COL-6{
    margin-left: -10%;
    margin-bottom: -3%;
}


@media screen and (min-width: 1000px){
    #search{
        width: 36.2%;
        grid-template-areas: "search searchCatagory searchConfession"; 
        grid-template-columns: 1fr 0.7fr 0.5fr;
        transform: translate3d(-175%, 0, 0);

    }


    .screenContainer{
        height: auto;
        transform: translate3d(9.25%, 23.25vh, 0);

    }

    #confessionPost{
        width: 73%;
        height: 37vh;
        margin-top: 5%;


    }

    #COL-6{
        margin-left: -10%;
        margin-bottom: -4%;
    }

    #title{
        transform: translate3d(-11.9vw,-12vh, 0);
        width: 20vw;
    }

    #category{
        transform: translate3d(8.4vw,-12vh, 0);
        width: 11.5vw;
    }

    #addGif{
        transform: translate3d(-12vw,21.5vh, 0);
        width: 158.5%;

    
    }
    #submitConfession{
        transform: translate3d(-6vw,300%, 0);
    }

}

h3{
    font-size: 150%;
}

#addComment{
    width: 100%;
    border-radius: 10px;
    position: sticky;
    

}

#commentContainer{
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-top:black;
    border-left: black;
    border-right: black;

}

#closeButton{
    transform: translateY(-20px);
    float: right;
    font-size: 150%;
    display: inline;
    right: 0;
    padding: 7px;
    margin: 5px;
    border-radius: 100px;
    letter-spacing: 3px;
}

#hateIcon{
    background-color: #999999;
    font-size: 150%;
    display: inline;
    padding: 7px;
    margin: 5px;
    border-radius: 100px;
    letter-spacing: 3px;
}

#shockIcon{
    background-color: #999999;
    font-size: 150%;
    display: inline;
    padding: 7px;
    margin: 5px;
    border-radius: 100px;
    letter-spacing: 3px;
}

#happyIcon{
    
    background-color: #999999;
    font-size: 150%;
    display: inline;
    padding: 7px;
    margin: 5px;
    border-radius: 100px;
    letter-spacing: 3px;
}

#hatecommentIcon{
    background-color: #999999;
    float: right;
    font-size: 70%;
    display: inline;
    padding: 2px;
    margin: 1%;
    border-radius: 100px;
    letter-spacing: 3px;
}

#shockcommentIcon{
    background-color: #999999;
    float: right;
    font-size: 70%;
    display: inline;
    padding: 2px;
    margin: 1%;
    border-radius: 100px;
    letter-spacing: 3px;
}

#happycommentIcon{
    background-color: #999999;
    float: right;
    font-size: 70%;
    display: inline;
    padding: 2px;
    margin: 1%;
    border-radius: 100px;
    letter-spacing: 3px;
}

#idOfConfession{
    display: none;

}

.classComment{
    display: inline;
}

img{
    margin:10px;
    width: 50%;
}