body {
   background-color: #e3daff;
   padding: 20px;
}

h1, h2 {
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
   color: #04AA6D;
   font-weight: bold;
}

table.toBeFilled {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
   text-align: start;
 }

 
td, th {
   border: 1px solid #ddd;
   padding: 8px;
   
 }
 
tr:nth-child(even){
   background-color: #f2f2f2;
}
 
th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #04AA6D;
   color: white;
 }

 .example {
    font-size: 0.9em;
 }
 .route {
    font-size: 1.1em;
 }
